/**
 * styles.scss: Style source for Sunshine Songs
 */

$cutoff-width: 600px;
$container-width: 768px;

$orange: #d84923;

:root {
    --orange: #d84923;
    --yellow: #ffe15e;
    --purple: #5d1674;
    --blue: #1e2d6f;
    --background: white;
    --gray: #757575;
    --black: #333;
    --space-unit: 20px;
    --gutter-padding: 15px;
    --border-radius: 4px;
}

* {
	box-sizing: border-box;
}

html, body {
    background: var(--background);
    color: var(--black);
    font-family: "sofia-pro", "Gill Sans", sans-serif;
    font-size: 20px;
}

body {
    &.modal-open {
        overflow: hidden;
    }
}

a {
    &, &:visited, &:link, &:hover {
        color: var(--orange);
    }
    &:active {
        color: var(--yellow);
    }
}
ul {
    li {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.lead {
    font-size: 1.2em;
}

@mixin alt-text () {
    font-weight: 600;
	letter-spacing: 1.5px;
	line-height: 1.33;
	vertical-align: top;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}

.btn {
	border-radius: var(--border-radius);
	display: inline-block;
    text-decoration: underline;
	text-align: center;
    padding: calc(var(--space-unit) / 2) var(--space-unit);
    transition: background-color 250ms ease;

    @include alt-text();

    &.primary {
        background: var(--orange);
        color: white;
        &:hover {
            background: darken($orange, 10%);
        }
        &:active {
            background: darken($orange, 20%);
        }
    }
}

footer {
    background: var(--purple);
    color: white;
    padding: calc(2 * var(--space-unit));
    img {
        max-width: 250px;
    }
    .small {
        font-size: 0.85em;
    }
}

h1 {
    letter-spacing: 0.6px;
    &.hero-header {
        @media screen and (max-width: $cutoff-width) {
            font-size: 1.5em;
        }
    }
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

    &.light {
        font-weight: normal;
    }
}

.label {
    @include alt-text();
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

.hero {
    background-image: url(../static/hero.png);
    padding-top: calc(var(--space-unit) * 1);
    padding-bottom: calc(var(--space-unit) * 3);
    @media screen and (max-width: $container-width) {
        padding-left: var(--space-unit);
        padding-right: var(--space-unit);
    }
    img.header {
        width: 400px;
        max-width: 100%;
    }
}

.well {
    color: white;
    background: var(--orange);
    padding: var(--space-unit);
    border-radius: var(--border-radius);
}

.divider {
    font-size: 1.25em;
    text-align: center;
}

.youtube-placeholder {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    color: white;
    width: 560px;
    height: 315px;
    background: rgba(216, 73, 35, 0.4);
    border-left: var(--border-radius) solid var(--orange);
    border-right: var(--border-radius) solid var(--orange);
    &.show-concert {
        display: none;
    }
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    .placeholder-title {
        padding: var(--space-unit);
        background: var(--orange)
    }
    .host {
      padding: var(--space-unit);
      background: var(--orange)
    }
    .countdown-row {
        --gutter-padding: 7.5px;
        &.gutters {
            padding-left: var(--gutter-padding);
            padding-right: var(--gutter-padding);
        }
    }
    .countdown-container {
        padding-top: var(--space-unit);
        padding-bottom: var(--space-unit);
        .countdown-number {
            font-size: 2em;
        }
    }

    @media screen and (max-width: $cutoff-width) {
        height: auto;
        max-width: 100%;
    }
}

.youtube-video {
    display: none;
    max-width: 100%;
    &.show-concert {
        display: block;
        margin: 0 auto;
    }
}

.sunshine-list {
    .sunshine-list-item {
        display: inline-block;
        padding: calc(var(--space-unit) / 2) var(--space-unit);
        background: var(--orange);
        color: white;
        border-radius: var(--border-radius);
        font-weight: bold;
        margin-left: var(--space-unit);
        margin-right: var(--space-unit);
        margin-bottom: var(--space-unit);
    }
}

.section {
    padding-top: calc(var(--space-unit) * 4);
    padding-bottom: calc(var(--space-unit) * 4);

    &.less-space-top {
        padding-top: calc(var(--space-unit) * 1);
    }

    &.white {
        background: white;
    }

    // Create some breathing room for everything on mobile and small desktop
    @media screen and (max-width: $container-width) {
        padding-left: var(--space-unit);
        padding-right: var(--space-unit);
    }
}

.row {
    @mixin flex-column($pct) {
        flex: 0 1 $pct;
        min-width: $pct;
        max-width: $pct;
    }
    display: flex;
    &.vcenter {
        align-items: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    .col {
        flex: 1 1;
    }
    .col-quarter {
        @include flex-column(25%);
    }
    .col-third {
        @include flex-column(33.33333333333%);
    }
    .col-half {
        @include flex-column(50%);
    }
    .col-two-third {
        @include flex-column(66.6666666666666%);
    }
    .xs-full {
        @media screen and (max-width: $cutoff-width) {
            width: 100%;
            min-width: 100%;
        }
    }
    &.gutters > .col,
    &.gutters > .col-half,
    &.gutters > .col-third,
    &.gutters > .col-two-third,
    &.gutters > .col-quarter,
    &.gutters > .col-fifth,
    &.gutters > .col-two-fifth,
    &.gutters > .col-three-fifth,
    &.gutters > .col-three-quarter {
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        padding-left: var(--gutter-padding);
        padding-right: var(--gutter-padding);
    }
    &.gutters .xs-full {
        @media screen and (max-width: $cutoff-width) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    .col-half-xs {
        @media screen and (max-width: $cutoff-width) {
            @include flex-column(50%);
        }
    }
}

.news-mention {
    margin-bottom: calc(var(--space-unit) * 2);
    margin-left: calc(var(--space-unit) * 2);
    margin-right: calc(var(--space-unit) * 2);
    &, img {
        max-height: 70px;
        max-width: 130px;
    }
    img {
        filter: grayscale(1) contrast(1.3);
    }
}
.center {
    text-align: center;
}
.xs-left {
    @media screen and (max-width: $cutoff-width) {
        text-align: left;
    }
}
.partner-logo {
    width: 200px;
    max-width: 100%;
}
.xs-space-top {
    @media screen and (max-width: $cutoff-width) {
        padding-top: calc(var(--space-unit));
    }
}
.xs-space-top-2x {
    @media screen and (max-width: $cutoff-width) {
        padding-top: calc(var(--space-unit) * 2);
    }
}
.xs-space-top-3x {
    @media screen and (max-width: $cutoff-width) {
        padding-top: calc(var(--space-unit) * 3);
    }
}
.space-top {
    padding-top: calc(var(--space-unit));
}
.space-top-2x {
    padding-top: calc(var(--space-unit) * 2);
}
.space-top-3x {
    padding-top: calc(var(--space-unit) * 3);
}

.timeline-section {
    background: linear-gradient(to bottom right, var(--orange), var(--purple));
    color: white;
    a {
        &, &:visited {
            color: white;
        }
        &:active, &:hover {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}

.timeline {
    position: relative;
    padding-left: calc(var(--space-unit) * 2);
    &:before {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: calc(-1 * var(--space-unit));
        bottom: calc(-1 * var(--space-unit));
        background: var(--purple);
        border-radius: calc(var(--space-unit) / 2);
        width: var(--space-unit);
    }
    .timeline-entry {
        position: relative;
        margin-bottom: calc(2 * var(--space-unit));
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            content: " ";
            border-radius: 50%;
            display: block;
            position: absolute;
            left: calc(2 * calc(-1 *  var(--space-unit)));
            top: 2px;
            width: var(--space-unit);
            height: var(--space-unit);
            background: var(--yellow);
        }
    }
}

.action-icon {
    font-size: 48px;
    margin-bottom: calc(var(--space-unit) / 2);
}

.modal {
    // The modal is an overlay, and there is a window within the overlay
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(216, 73, 35, 0.2);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.25s ease;
    &.modal-open {
        // When selected, open the modal
        opacity: 1;
        visibility: visible;
        z-index: 100;
    }
    .modal-window {
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        max-width: 100%;
        background: white;
        padding: var(--space-unit);
        border-radius: var(--border-radius);
        max-width: 100%;
        max-height: 100%;
        overflow-y: scroll;
        word-wrap: break-word;
        .close {
            position: absolute;
            right: var(--space-unit);
            top: calc(var(--space-unit) / 2);
            font-size: 2em;
            line-height: 1;
            text-decoration: none;
        }
        @media screen and (max-width: $cutoff-width) {
            padding-top: calc(var(--space-unit) * 2); // More room for X
            .close {
                right: calc(var(--space-unit) / 2);
                top: calc(var(--space-unit) / 5);
            }
        }
    }
}
